
body {
    background: black;
}

.container {
    display: flex;    
    flex-direction: column;
    align-items: center;   
}

h1 {
    font-size: 45px;
    text-align: center;
}

#mini-box {
    border: solid gray  2px;   
    width: 40px;
    height: 20px;
    border-radius: 30px;

    position: relative;
   
}


.off {
    width: 20px;
    height: 20px;
    border-radius: 50%;   
    background: red; 
    
    position: absolute;  
    right: 0;
}

.on {         
    width: 20px;
    height: 20px;
    border-radius: 50%;   
    background: white;

    position: absolute;
    left: 0;     
}


