
body {
    background: black;
}
.container {       
    padding: 60px;
    display: flex;    
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

h1 {
    font-size: 45px;
}

#mini-box {
    border: solid gray  2px;   
    width: 40px;
    height: 20px;
    border-radius: 30px;
    position: relative;
}

.on {
    width: 20px;
    height: 20px;
    border-radius: 50%;   
    background: red; 
    position: absolute;     
     
}


.off {     
    
    width: 20px;
    height: 20px;
    border-radius: 50%;   
    background: red; 
    position: absolute;  

    right: 0; 
    
}


